{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-content center-align">
            <a class="right" href="{% url 'daily_dish' %}">
                <button type="button" class="refresh-button">
                    <i class="fa fa-refresh fa-spin" style="font-size: 30px"></i>
                </button>
            </a>
            <h3>{{ dish_name }}</h3>
            <img class="responsive-img" width="400" height="400" src="{{ dish_picture_url }}" alt="{{ dish_name }}">
            <form id="addToListForm" action="{% url 'add_to_my_list' dish_name %}" method="post">
                {% csrf_token %}
                <input type="submit" value="+" class="add-button" style="display: none;">
                <span class="heart-icon" id="daily-heart">
                    <i class="fa fa-heart-o"></i>
                </span>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const heartIcon = document.querySelector('.heart-icon');
        const addToListForm = document.getElementById('addToListForm');

        heartIcon.addEventListener('click', function () {
            addToListForm.submit();
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".heart-icon").on("mouseenter", function () {
            $(this).find("i").removeClass("fa-heart-o").addClass("fa-heart");
        });

        $(".heart-icon").on("mouseleave", function () {
            $(this).find("i").removeClass("fa-heart").addClass("fa-heart-o");
        });
    });
</script>

{% endblock %}