{% extends 'base.html' %}
{% block content %}
<div id="detailContainer" class="container row">

  <div class="col s5">
    <div class="container">
      <div class="card-panel">
        <div class="">
          <p>Origin: {{ dish.origin }}</p>
          {% for photo in dish.photo_set.all %}
          <img class="responsive-img" src="{{photo.url}}">
          {% empty %}
          <div class="card-panel">
            <div class="teal-text center-align">No Photos Uploaded</div>
            <form action="{% url 'add_photo' dish.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
              {% csrf_token %}
              <input type="file" name="photo-file">
              <button type="submit" class="btn">Upload Photo</button>
            </form>
          </div>
          {% endfor %}
          <div>
            <span class="card-title">{{ dish.name }}</span>
            <img src="" />
          </div>
        </div>
        <p>Description: {{ dish.description }}</p>
        <div class="row justify-center valign-wrapper">
          <a class="col s3" href="{% url 'dishes_update' dish.id %}">Edit</a>
          <a class="col s3" href="{% url 'dishes_delete' dish.id %}">Delete</a>
          <a class="col s5" href="{% url 'assoc_mylist' dish.id %}">
            <span class="heart-icon" id="dishes-heart">
              <i class="fa fa-heart-o"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <a href="{% url 'create_comment' dish.id %}"><button class="right">Add Comment</button></a>
  <div class="col s7">
    {% if comments %}
    {% for comment in comments %}
    <div class="card-panel">
      <div class="row justify-between">
        <div class="col s4">
          {{ comment.restaurant_name }} Restaurant
        </div>
        <div class="col s4">
          City: {{ comment.city_name }}
        </div>
      </div>
      <div>
        {{ comment.body }}
      </div>
      <div>
        {{ comment.created_on }}
      </div>
      <div class="row">
        <a class="col s2" href="{% url 'comment_delete' comment.pk %}">Delete</a>
        <a class="col s2" href="{% url 'comment_update' dish.id comment.pk %}">Edit</a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(".heart-icon").on("mouseenter", function () {
      $(this).find("i").removeClass("fa-heart-o").addClass("fa-heart");
    });

    $(".heart-icon").on("mouseleave", function () {
      $(this).find("i").removeClass("fa-heart").addClass("fa-heart-o");
    });
  });
</script>
{% endblock %}