{% extends 'base.html' %}
{% block content %}


    <div id="active-category">
        {% if selected_category %}
            You are viewing   <span id="active-category-text">{{ active_category }}</span> now
            <a href="{% url 'dishes' %}" id="reset-category">
                <i class="fa fa-close" style="font-size:48px;color:red"></i>
            </a>
        {% else %}
        <i class="fa fa-arrow-down" style="font-size:48px;color:green"></i>
        Choose a Category
        <i class="fa fa-arrow-down" style="font-size:48px;color:green"></i>
        {% endif %}
    </div>

    <form id="tags" method="get" action="{% url 'dishes' %}">
        <div id="tags-container">
            <div class="tags-row">
              <a href="?category=Beef" id="beef">Beef</a>
              <a href="?category=Chicken" id="chicken">Chicken</a>
              <a href="?category=Dessert" id="dessert">Dessert</a>
              <a href="?category=Lamb" id="lamb">Lamb</a>
              <a href="?category=Miscellaneous" id="miscellaneous">Miscellaneous</a>
              <a href="?category=Pasta" id="pasta">Pasta</a>
              <a href="?category=Pork" id="pork">Pork</a>
            </div>
            <div class="tags-row">
              <a href="?category=Seafood" id="seafood">Seafood</a>
              <a href="?category=Side" id="side">Side</a>
              <a href="?category=Starter" id="starter">Starter</a>
              <a href="?category=Vegan" id="vegan">Vegan</a>
              <a href="?category=Vegetarian" id="vegetarian">Vegetarian</a>
              <a href="?category=Breakfast" id="breakfast">Breakfast</a>
              <a href="?category=Goat" id="goat">Goat</a>
            </div>
          </div>
    </form>


    <ul id="meal-list">
        {% for meal in random_meals %}
        <li class="meal-card">
            <h3>{{ meal.strMeal }}</h3>
            <img src="{{ meal.strMealThumb }}" alt="{{ meal.strMeal }}">
        </li>
        {% endfor %}
    </ul>

   
{% endblock %}