{% extends 'base.html' %}
{% block content %}
<div class="container row center-align justify-center">
    <div class="col s12 center-align justify-center">
        <div class="col s12 center-align justify-center">
            <a class="" href="{% url 'dishes_create' %}">
                <button id="mainBtn" class="mainBtn valign-wrapper m3">Add a Dish</button>
            </a>
        </div>
    </div>
</div>

<br />
{% if dishes %}
{% for dish in dishes %}
<div class="container ">
    <div class="card ">
        <div class="card-content center-align">
            <a href="{% url 'detail' dish.id %}">
                <div class="card-content">
                    <span class="card-title">{{ dish.name }}</span>
                    <p>Origin: {{ dish.origin }}</p>
                    <p>Description: {{ dish.description }}</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h1>There is no dish added yet. </h1>
{% endif %}
{% endblock %}