{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cuisine Quest</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="static/assets/foodicon.jpeg" type="image/jpeg">
</head>

<body class="grey #ffffff white">
  <header class="navbar-fixed">
    <nav class="#ffffff white z-depth-0">
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo"><span class="grey-text text-darken-4">CuisineQuest</span></a>
          </li>
        </ul>
        <ul class="right">
          {% if user.is_authenticated %}
          <div>
            <li><a href="{% url 'daily_dish' %}">Daily Dish</a></li>
            <li><a href="{% url 'dishes' %}">All Dishes</a></li>
            <li><a href="{% url 'index' %}">My Dishes</a></li>
            <li><a href="{% url 'mylist_index' %}">My Favorites</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          </div>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer #ffffff white">
    <div class="right ">All Rights Reserved, &copy; 2023 Cuisine Quest &nbsp;</div>
  </footer>
</body>

</html>