{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mainContainer">
        <div class="col s6">
            <div class="row textContainer">
                <div id="hero-text" class="col s12">Nurture your passion for food and life</div>
                <div class="secondary-text col s12">The first step to a healthier relationship with your food
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="row">
                <img class="responsive-img" src="../static/assets/homeGif.png" />
            </div>
        </div>
        <div>
            <a href="{% url 'daily_dish' %}">
                <button id="btn" class="mainBtn valign-wrapper">
                    Let's Go!
                    <img class="arrow" src="../static/assets/arrow.png">
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}