.brand-logo {}

.left {
    margin-left: 3rem;
    font-family: 'Poppins', sans-serif;
}

.right {
    margin-right: 3rem;
    font-family: 'Poppins', sans-serif;
}


nav ul a {
    color: black;
    font-size: 1.5rem;
}


#hero-text {
    color: #6750F3;
    font-size: 4rem;
}

.waves-light {
    border-radius: 10%;
}

.mainContainer {
    margin-top: 5rem;
}

.secondary-text {
    color: black;
    font-size: 2rem;
    font-weight: lighter;
}

#mainImg {
    width: 40rem;
    height: auto;
}

.mainBtn {
    border: none;
    background-color: #6750F3;
    width: auto;
    height: 4rem;
    border-radius: 50px;
    color: white;
    font-size: 1.5rem;
    padding: 1.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    text-align: center;
}

.arrow {
    margin-left: .8rem;
}


#commentContainer>div {
    border-radius: 25px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* #hamburgerClosed {
    background-image: url('../assets/Hamburger.png');
    height: 2rem;
    width: 2rem;
}

#hamburgerOpen {
    background-image: url('../assets/Hamburger.png');
    height: 2rem;
    width: 2rem;
}

#hidden {
    display: none;
} */