body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FEFCFE;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  color: black;
}

form {
  display: inline;
}

.heart-icon {
  cursor: pointer;
}

.add-button {
  display: none;
}

#commentContainer {
  border-radius: 25px;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.hamburgerClosed {
  background-image: url('../assets/Hamburger.png');
  height: 2rem;
  width: 2rem;
}

.hamburgerOpen {
  background-image: url('../assets/Hamburger.png');
  height: 2rem;
  width: 2rem;
}

#hidden {
  display: none;
}

#tags {
  font-size: 20px;
}

#header-title {
  color: red;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

#header-title .form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Adjust this value as needed */
  max-width: 400px;
  padding: 40px;
  /* Add padding to the form container for spacing */
  justify-content: center;
  /* Center the form vertically */
  align-items: center;
  /* Center the form horizontally */
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#tags-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tags-row a {
  display: inline-block;
  padding: 8px 15px;
  margin: 5px 20px 5px 20px;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: transform 0.2s;
}

.tags-row a:hover {
  transform: scale(1.2);
}

#beef {
  background-color: #FF5733;
}

#chicken {
  background-color: #FFC300;
}

#dessert {
  background-color: #C70039;
}

#lamb {
  background-color: #900C3F;
}

#miscellaneous {
  background-color: #581845;
}

#pasta {
  background-color: #2ECC71;
}

#pork {
  background-color: #3498DB;
}

#seafood {
  background-color: #1ABC9C;
}

#side {
  background-color: #27AE60;
}

#starter {
  background-color: #8E44AD;
}

#vegan {
  background-color: #E74C3C;
}

#vegetarian {
  background-color: #9B59B6;
}

#breakfast {
  background-color: #F39C12;
}

#goat {
  background-color: #16A085;
}

#meal-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 50px 100px 0 100px;
}

.meal-card {
  border: 2px solid rgb(54, 54, 54);
  border-radius: 25px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.meal-card h3 {
  margin-top: 0;
  font-size: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.meal-card img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 20px;
}

#dishes-heart {
  right: 0;
  font-size: 30px;
  cursor: pointer;
  color: red;
}

#active-category {
  text-align: center;
  margin: 50px;
  font-size: 40px;
}

#active-category-text {
  font-weight: bold;
  color: orange;
}

#reset-category {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: red;
  font-size: 40px;
  line-height: 1;
  transition: transform 0.2s;
}

#reset-category:hover {
  transform: scale(1.2);
}

#detailContainer {
  margin-top: 5rem;
}

/* for daily dish css */
#dish-card {
  position: relative;
  max-width: 1000px;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 25px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.refresh-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.refresh-button:hover {
  transform: scale(1.2);
}

#dish-card h3 {
  margin-top: 10px;
}

#dish-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  padding: 50px;
  padding-top: 20px;
}

#card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#daily-heart {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 48px;
  cursor: pointer;
  color: red;
  margin: 10px;
}

#btn {
  margin-top: 3rem;
  cursor: pointer;
}